<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-title>
      FoodUp
    </ion-title>
    <ion-button slot="end" fill="clear">
      <ion-icon  name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="post-card" *ngFor="let item of postData">
      <ion-img src='/assets/shapes.svg'></ion-img>
      <ion-card-content class="card-footer">
        <ion-avatar>
          <ion-img src='/assets/shapes.svg'></ion-img>
        </ion-avatar>
        <div class="caption-wrapper">
          <h2>{{item.userID}}</h2>
          <div class="caption-group">
            <p>13 mins ago</p>
            <p>{{item.location}}</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    
</ion-content>
