.post-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.post-card {
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.25)
}

.caption-group{
  display: flex;
  justify-content: space-between
}
.card-footer{
  display: flex;
  width: 100%;
}
.caption-wrapper {
  flex-grow: 1;
  margin-left: 10px;
  
}

//box shadow 0, 3, 18 same color