<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-title>
      APP NAME
    </ion-title>
    <ion-button slot="end" fill="clear">
      <ion-icon  name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="post-card" *ngFor="let item of data">
      <ion-img src={{item.foodPicture}}></ion-img>
      <ion-card-content class="card-footer">
        <ion-avatar>
          <ion-img src={{item.avatar}}></ion-img>
        </ion-avatar>
        <div class="caption-wrapper">
          <h2>{{item.username}}</h2>
          <div class="caption-group">
            <p>{{item.datePosted}}</p>
            <p>{{item.location}}</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    
</ion-content>
