.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  margin: 0 16px;

  h1, p {
    text-align: center;
  }
}

.user-card {
  margin-bottom: 0px;
}

.role-card {
  width: 100%;
  margin: 0 16px;

  ion-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .role-pic, .role-name {
    flex: 1;
  }
}
