<ion-content>
  <div class="content">
    <h1>
      Welcome,<br>
      John!
    </h1>
    <ion-card color="light" class="user-card">
      <ion-card-content>
        <div class="avatar"></div>
        <div>
          <span class="name">John Smith</span>
          <span class="email">john@smith.com</span>
        </div>
      </ion-card-content>
    </ion-card>
    <p>
      Before we start,<br>
      we'd like to ask you a few questions.
      <br><br>
      Which one describes you best?
    </p>
    <ion-card
      (click)="signup('individual')"
      color="light"
      class="role-card"
      [class.inactive-card]="role === 'restaurant'"
    >
      <ion-card-content>
        <div class="role-pic">
          <img src="assets/maid.png">
        </div>
        <div class="role-name"><h1>Individual</h1></div>
      </ion-card-content>
    </ion-card>
    <ion-card
      (click)="signup('restaurant')"
      color="light"
      class="role-card"
      [class.inactive-card]="role === 'individual'"
    >
      <ion-card-content>
        <div class="role-pic">
          <img src="assets/chef.png">
        </div>
        <div class="role-name"><h1>Restaurant<br>Owner</h1></div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
