<ion-content #myContent color="secondary">
  <div class="content">
    <h1>
      Welcome,<br>
      John!
    </h1>
    <ion-card color="light" class="user-card">
      <ion-card-content>
        <div class="avatar"></div>
        <div>
          <span class="name">John Smith</span>
          <span class="email">john@smith.com</span>
        </div>
      </ion-card-content>
    </ion-card>
    <p>
      Before we start,<br>
      we'd like to ask you a few questions.
      <br><br>
      Which one describes you best?
    </p>
    <ion-card
      (click)="chooseRole('individual')"
      color="light"
      class="role-card"
      [class.inactive-card]="role === 'restaurant'"
    >
      <ion-card-content>
        <div class="role-pic">
          <img src="assets/maid.png">
        </div>
        <div class="role-name"><h1>Individual</h1></div>
      </ion-card-content>
    </ion-card>
    <ion-card
      (click)="chooseRole('restaurant')"
      color="light"
      class="role-card"
      [class.inactive-card]="role === 'individual'"
    >
      <ion-card-content>
        <div class="role-pic">
          <img src="assets/chef.png">
        </div>
        <div class="role-name"><h1>Restaurant<br>Owner</h1></div>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="role === 'individual'" class="content">
    <p>
      Cool!<br>
      Can you give us your location to make<br>
      things easier for you?
    </p>
    <p class="small-warning">
      We will never share your precise location to other users.
    </p>
    <ion-button
      (click)="signup()"
      color="primary"
      expand="block"
      fill="solid"
    >
      Finish
    </ion-button>
  </div>
  <div *ngIf="role === 'restaurant'" class="content">
    <p>
      Awesome!<br>
      Tell us more about your restaurant!
    </p>
    <ion-card color="light">
      <ion-card-content>
        <form [formGroup]="restaurantForm">
          <ion-item color="light">
            <ion-label position="stacked">Restaurant Name</ion-label>
            <ion-input formControlName="name" placeholder="My Awesome Restaurant" required></ion-input>
          </ion-item>
          <ion-item color="light">
            <ion-label position="stacked">Address</ion-label>
            <ion-input formControlName="address" placeholder="123 My Rd" required></ion-input>
          </ion-item>
          <ion-item color="light">
            <ion-label position="stacked">City</ion-label>
            <ion-input formControlName="city" placeholder="My City" required></ion-input>
          </ion-item>
          <div class="form-row">
            <ion-item color="light">
              <ion-label position="stacked">State</ion-label>
              <ion-input formControlName="state" placeholder="CA" required></ion-input>
            </ion-item>
            <ion-item color="light">
              <ion-label position="stacked">Zipcode</ion-label>
              <ion-input formControlName="zipcode" placeholder="123456" required></ion-input>
            </ion-item>
          </div>
          <ion-item color="light">
            <ion-label position="stacked">Description</ion-label>
            <ion-textarea formControlName="description" placeholder="It's a cozy restaurant by the main street..." rows="5"></ion-textarea>
          </ion-item>
        </form>
      </ion-card-content>
    </ion-card>
    <ion-button
      (click)="signup()"
      [disabled]="restaurantForm.invalid"
      color="primary"
      expand="block"
      fill="solid"
    >
      Finish
    </ion-button>
  </div>
</ion-content>
