// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.avatar {
  background: grey;
  border-radius: 100%;

  img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
  }
}

html, body, .ion-app, .ion-content {
  background-color: transparent !important;
}
.swiper-pagination-bullets {
  bottom: 0px !important;
}

.user-card {
  width: 100%;
  margin: 16px;

  ion-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .avatar {
    height: 48px;
    width: 48px;
    margin-right: 16px;
  }

  .name {
    display: block;
    font-weight: bold;
  }
}
